# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit fcaps go-module user

EGO_SUM=(
{{gosum}})

go-module_set_globals

DESCRIPTION="{{ description }}"
HOMEPAGE="https://caddyserver.com/ https://github.com/{{ github_user }}/{{ github_repo }}"
SRC_URI="{{ src_uri }}"

LICENSE="Apache-2.0 BSD ECL-2.0 MIT"
SLOT="0"
KEYWORDS="*"
IUSE=""

CADDY_USER="${PN}"
CADDY_HOME="/var/www/${CADDY_USER}"

pkg_setup() {
	enewgroup ${CADDY_USER}
	enewuser ${CADDY_USER} -1 -1 "${CADDY_HOME}" ${CADDY_USER}
}

post_src_unpack() {
	mv ${WORKDIR}/{{github_user}}-* ${S} || die
}

# Upstream reference to set custom compile time Caddy versions:
# https://github.com/caddyserver/caddy/pull/5072/files
src_compile() {
	go build -ldflags '-X github.com/caddyserver/caddy/v2.CustomVersion=v{{ version }}-{{ sha[0:7] }}-funtoo' \
	-mod=mod ./cmd/caddy || die "compile failed"
}

src_install() {
	dobin ${PN}
	dodoc README.md
	insinto /etc/"${PN}"
	doins "${FILESDIR}"/Caddyfile
	newconfd "${FILESDIR}/${PN}".confd ${PN}
	newinitd "${FILESDIR}/${PN}".initd ${PN}
	keepdir /var/log/"${PN}"
	keepdir /var/www/"${PN}"
	fowners "${CADDY_USER}:${CADDY_USER}" /var/log/"${PN}"
	fowners "${CADDY_USER}:${CADDY_USER}" /var/www/"${PN}"
	fperms 0750 /var/log/"${PN}"
	fperms 0750 /var/www/"${PN}"
}

pkg_postinst() {
	fcaps cap_net_bind_service=eip /usr/bin/caddy
}
