# Distributed under the terms of the GNU General Public License v2

EAPI=5
PYTHON_COMPAT=( {{python_compat}} )

inherit distutils-r1

DESCRIPTION="Python3 bindings for RRDtool with a native C extension"
HOMEPAGE="https://github.com/commx/python-rrdtool"
SRC_URI="artifacts[0].src_uri"

LICENSE="LGPL-2.1"
SLOT="0"
KEYWORDS="*"

IUSE=""

DEPEND="dev-python/setuptools[${PYTHON_USEDEP}]"
RDEPEND="
	>=net-analyzer/rrdtool-1.5.5[graph,-python]
"

src_prepare() {
	epatch "${FILESDIR}"/have_graph.patch
}

