# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit cmake

DESCRIPTION="User Tools from libqtxdg"
HOMEPAGE="https://lxqt-project.org/"

SRC_URI="{{ src_uri }}"
KEYWORDS="*"

LICENSE="LGPL-2.1"
SLOT="0"

BDEPEND="dev-util/lxqt-build-tools"
RDEPEND="
	dev-libs/libqtxdg
	dev-qt/qtcore:5
"
DEPEND="${RDEPEND}"

post_src_unpack() {
	if [ ! -d "${S}" ]; then
		mv "${WORKDIR}"/* "${S}" || die
	fi
}
