# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit autotools toolchain-funcs

DESCRIPTION="{{desc}}"
HOMEPAGE="{{homepage}}"
SRC_URI="{{src_uri}}"

LICENSE="BSD-2"
SLOT="1"
KEYWORDS="*"
IUSE="static-libs"

RDEPEND="!net-libs/libecap:0
	!net-libs/libecap:0.2"

DOCS=( CREDITS NOTICE README change.log )

src_prepare() {
	default
	eautoreconf
}

src_install() {
	default

	find "${ED}" -name '*.la' -delete || die
}
