# Distributed under the terms of the GNU General Public License v2

EAPI=7

DESCRIPTION="Implementation of Adaptive Multi Rate Narrowband and Wideband speech codec"
HOMEPAGE="https://sourceforge.net/projects/opencore-amr/"
SRC_URI="{{artifacts[0].src_uri}}"

LICENSE="Apache-2.0"
SLOT="0"
KEYWORDS="*"

src_configure() {
	econf --disable-static
}

src_install() {
	emake DESTDIR="${D}" install
	einstalldocs
	find "${ED}" -type f -name "*.la" -delete || die
}
