# Distributed under the terms of the GNU General Public License v2

EAPI=7

DESCRIPTION="{{ desc }}"
HOMEPAGE="{{ homepage }}"
SRC_URI="{{ artifacts[0].src_uri }}"

LICENSE="ZLIB"
SLOT="0"
KEYWORDS="*"
IUSE="static-libs"

RDEPEND="media-libs/libsdl2"
DEPEND=${RDEPEND}

post_src_unpack() {
	mv "${WORKDIR}"/{{ github_user }}-{{ github_repo  }}-* "$S" || die
}

src_configure() {
	econf \
		--disable-sdltest \
		--disable-examples \
		$(use_enable static-libs static)
}

src_install() {
	emake DESTDIR="${D}" install
	dodoc {CHANGES,README}.txt
	find "${ED}" -name '*.la' -delete || die
}
