# Distributed under the terms of the GNU General Public License v2

EAPI=7

USE_RUBY="{{ use_ruby }}"
RUBY_FAKEGEM_RECIPE_DOC=""
RUBY_FAKEGEM_EXTRADOC="CHANGELOG.md README.md"

inherit ruby-fakegem

DESCRIPTION="The gem that has been saving people from typos since 2014"
HOMEPAGE="{{ homepage }}"
SRC_URI="{{ artifacts[0].src_uri }}"

KEYWORDS="*"
LICENSE="MIT"
SLOT="2.6"
IUSE=""

ruby_add_bdepend "test? ( dev-ruby/minitest:5 )"

all_ruby_prepare() {
	sed -i -e '/bundler/ s:^:#:' Rakefile || die
}
