# Distributed under the terms of the GNU General Public License v2

EAPI=7

DESCRIPTION="PCRE wrapping library that offers type-safe preg_* replacements."
HOMEPAGE="https://github.com/composer/pcre"
SRC_URI="{{src_uri}}"

LICENSE="MIT"
SLOT="0"
KEYWORDS="*"

BDEPEND="dev-php/theseer-Autoload"

RDEPEND="dev-lang/php:*
	dev-php/fedora-autoloader"

S="${WORKDIR}/pcre-${PV}"

post_src_unpack() {
    if [ ! -d "${S}" ] ; then
        mv ${WORKDIR}/{{github_user}}-* ${S} || die
    fi
}

src_prepare() {
	default

	phpab \
		--quiet \
		--output src/autoload.php \
		--template fedora2 \
		--basedir src \
		src \
		|| die
}

src_install() {
	insinto '/usr/share/php/Composer/Pcre'
	doins -r src/*

	einstalldocs
}
