# Distributed under the terms of the GNU General Public License v2

EAPI="6"
ETYPE="sources"
KEYWORDS="amd64 x86"

HOMEPAGE="http://kernel.kolivas.org/"

K_SECURITY_UNSUPPORTED="1"

OKV="{{base_ver}}"
KV="{{base_ver}}"

inherit kernel-2
detect_arch

RDEPEND="virtual/linux-sources"

DESCRIPTION="Linux {{base_ver}}-ck{{ck_ver}}, with Con Kolivas' MuQSS scheduler and patchset"

SRC_URI="{%- for key, value in artifacts.items() %}
{{value.src_uri}}
{%- endfor %}"

UNIPATCH_LIST="
	${DISTDIR}/{{artifacts["korg_patch"].final_name}}
	${DISTDIR}/{{artifacts["ck_patch"].final_name}}
"

UNIPATCH_STRICTORDER="yes"

src_unpack() {
	universal_unpack
	unipatch "${UNIPATCH_LIST}"
	env_setup_xmakeopts
}

pkg_postinst() {
	kernel-2_pkg_postinst
}

pkg_postrm() {
	kernel-2_pkg_postrm
}
