# Distributed under the terms of the GNU General Public License v2

EAPI="7"

inherit autotools

DESCRIPTION="{{desc}}"
HOMEPAGE="{{homepage}}"
SRC_URI="{{src_uri}}"
LICENSE="{{license}}"

KEYWORDS="*"
SLOT="0"
IUSE=""

RDEPEND=">=app-admin/eselect-1.2.3"

src_prepare() {
	default
	eautoreconf
}


pkg_postinst() {
	if has_version 'dev-lang/rust' || has_version 'dev-lang/rust-bin'; then
		eselect rust update --if-unset
	fi
}
