# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit autotools

DESCRIPTION="{{ description }}"
HOMEPAGE="https://github.com/wojtekka/libydpdict"
SRC_URI="{{ artifacts[0].src_uri }}"

LICENSE="LGPL-2.1"
SLOT="0"
KEYWORDS="*"

DOCS=( AUTHORS )

post_src_unpack() {
	if [ ! -d "${S}" ]; then
		mv {{ github_user }}-{{ github_repo }}* "${S}" || die
	fi
}

src_prepare() {
	default
	eautoreconf
}

src_configure() {
	econf --disable-static
}

src_install() {
	default
	find "${ED}" -name '*.la' -delete || die
}
