# Distributed under the terms of the GNU General Public License v2

EAPI=7
inherit user

MY_PN=${PN/-bin/}
MY_P=${MY_PN}-${PV}

DESCRIPTION="{{ description }}"
HOMEPAGE="https://github.com/{{ github_user }}/{{ github_repo }}"
SRC_URI="{{ src_uri }}"

KEYWORDS="-* {{artifacts.keys()|sort|join(' ')}}"
LICENSE="Apache-2.0"
SLOT="0"
IUSE="{{artifacts.keys()|sort|join(' ')}}"

DEPEND=""
RDEPEND="${DEPEND}"

ALERTMANAGER_USER="${MY_PN}"
ALERTMANAGER_HOME="/var/lib/${MY_PN}"

pkg_setup() {
	enewgroup ${ALERTMANAGER_USER}
	enewuser ${ALERTMANAGER_USER} -1 -1 "${ALERTMANAGER_HOME}" ${ALERTMANAGER_USER}
}

post_src_unpack() {
	if [ ! -d "${S}" ] ; then
		mv "${WORKDIR}"/${MY_PN}-* "${S}" || die
	fi
}

src_install() {
	dobin ${MY_PN} amtool
	insinto /etc/"${MY_PN}"
	doins ${MY_PN}.yml
	newconfd {{ gen_path }}/files/${MY_PN}/${MY_PN}.confd ${MY_PN}
	newinitd {{ gen_path }}/files/${MY_PN}/${MY_PN}.initd ${MY_PN}
	keepdir /var/{lib,log}/"${MY_PN}"
	fowners ${ALERTMANAGER_USER}:${ALERTMANAGER_USER} /var/{lib,log}/"${MY_PN}"
	fperms 0750 /var/{lib,log}/"${MY_PN}"
}
