# Distributed under the terms of the GNU General Public License v2

EAPI=6

PYTHON_COMPAT=( {{python_compat}} )

inherit distutils-r1 python-r1

DESCRIPTION="daemonize is a library for writing system daemons in Python"
HOMEPAGE="https://github.com/thesharp/daemonize"
SRC_URI="{{artifacts[0].src_uri}}"

LICENSE="MIT"
SLOT="0"
KEYWORDS="*"
IUSE=""

DEPEND=">=dev-python/setuptools-33.1.1[${PYTHON_USEDEP}]"
