# Distributed under the terms of the GNU General Public License v2

EAPI=7

PYTHON_COMPAT=( {{python_compat}} )

inherit cmake desktop python-single-r1 xdg

DESCRIPTION="A 3D model slicing application for 3D printing"
HOMEPAGE="https://github.com/Ultimaker/Cura"
SRC_URI="{{artifacts[0].src_uri}}"

LICENSE="LGPL-3"
SLOT="0"
KEYWORDS="*"
IUSE="debug test +usb zeroconf"
REQUIRED_USE="${PYTHON_REQUIRED_USE}"

RESTRICT="!test? ( test )"

BDEPEND="${PYTHON_DEPS}
	sys-devel/gettext
	$(python_gen_cond_dep '
		test? ( dev-python/pytest[${PYTHON_USEDEP}] )
	')
"
RDEPEND="${PYTHON_DEPS}
	dev-libs/libarcus:=[python,${PYTHON_SINGLE_USEDEP}]
	dev-libs/libcharon[${PYTHON_SINGLE_USEDEP}]
	dev-libs/libsavitar:=[python,${PYTHON_SINGLE_USEDEP}]
	dev-python/pynest2d[${PYTHON_SINGLE_USEDEP}]
	net-print/uranium[${PYTHON_SINGLE_USEDEP}]
	media-gfx/curaengine
	media-gfx/fdm-materials
	dev-qt/qtquickcontrols[widgets]
	$(python_gen_cond_dep '
			dev-python/importlib_metadata[${PYTHON_USEDEP}]
			>=dev-python/keyring-21.2.0[${PYTHON_USEDEP}]
			dev-python/mypy[${PYTHON_USEDEP}]
			dev-python/numpy[${PYTHON_USEDEP}]
			dev-python/PyQt5[-debug,${PYTHON_USEDEP}]
			dev-python/PyQt5-sip[${PYTHON_USEDEP}]
			dev-python/requests[${PYTHON_USEDEP}]
			dev-python/sentry-sdk[${PYTHON_USEDEP}]
			dev-python/shapely[${PYTHON_USEDEP}]
			dev-python/trimesh[${PYTHON_USEDEP}]
			usb? ( dev-python/pyserial[${PYTHON_USEDEP}] )
			zeroconf? ( dev-python/zeroconf[${PYTHON_USEDEP}] )
	')"
DEPEND="${RDEPEND}"

DOCS=( README.md )

post_src_unpack() {
	if [ ! -d "${S}" ]; then
		mv "${WORKDIR}"/{{github_user}}-{{github_repo}}* "${S}" || die
	fi
}

src_prepare() {
	sed -i -e "s:lib\${LIB_SUFFIX}/python\${Python3_VERSION_MAJOR}.\${Python3_VERSION_MINOR}/site-packages:$(python_get_sitedir):g" CMakeLists.txt || die

	# Remove failing test.  Bug #693172.
	rm -r plugins/VersionUpgrade/VersionUpgrade44to45/tests || die

	cmake_src_prepare
}

src_configure() {
	local mycmakeargs=(
		-DCURA_BUILDTYPE="ebuild"
		-DCURA_VERSION=${PV}
		-DCURA_DEBUGMODE=$(usex debug)
	)
	cmake_src_configure
}

src_install() {
	cmake_src_install
	doicon icons/*.png
	python_fix_shebang "${D}/usr/bin/cura"
	python_optimize "${D}${get_libdir}"
}
