# Distributed under the terms of the GNU General Public License v2

EAPI=7

DESCRIPTION="A manager for BetterDiscord on Linux"
HOMEPAGE="https://github.com/bb010g/betterdiscordctl"
SRC_URI="{{artifacts[0].src_uri}}"

LICENSE="MIT"
SLOT="0"
KEYWORDS="*"
IUSE=""

src_install() {
	dobin ${PN}
}
