# Distributed under the terms of the GNU General Public License v2

EAPI=7

PYTHON_COMPAT=( python3+ )

inherit cmake python-single-r1

DESCRIPTION="{{ description }}"
HOMEPAGE="https://www.openimagedenoise.org/ https://github.com/{{ github_user }}/{{ github_repo }}"

SRC_URI="{{ artifacts['src'].src_uri }}"
KEYWORDS="*"

LICENSE="Apache-2.0"
SLOT="0"
REQUIRED_USE="${PYTHON_REQUIRED_USE}"

RDEPEND="${PYTHON_DEPS}
	dev-cpp/tbb:=
	dev-lang/ispc"
DEPEND="${RDEPEND}"
