# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit systemd tmpfiles user

DESCRIPTION="Free and Open, Distributed, RESTful Search Engine"
HOMEPAGE="https://www.elastic.co/elasticsearch/"
SRC_URI="{% for arch in artifacts %}{% if artifacts|length > 1 %}
	{{ arch }}? ( {{ artifacts[arch].src_uri }} ){% else %}{{ artifacts[arch].src_uri }}{% endif %}
{% endfor %}"

LICENSE="Apache-2.0 BSD-2 Elastic-2.0 LGPL-3 MIT public-domain"
SLOT="0"
KEYWORDS="-*{% for arch in artifacts %} {{ arch }}{% endfor %}"

RDEPEND="virtual/jre{% if major < 7 %}
	sys-libs/zlib{% endif %}"

{% if major < 7 %}QA_PREBUILT="usr/share/elasticsearch/modules/x-pack-ml/platform/linux-x86_64/\(bin\|lib\)/.*"{% endif %}
QA_PRESTRIPPED="usr/share/elasticsearch/modules/x-pack-ml/platform/linux-x86_64/\(bin\|lib\)/.*"

pkg_setup() {
	enewuser ${PN}
	enewgroup ${PN}
}

src_prepare() {
	default

	rm LICENSE.txt NOTICE.txt {% if major < 7 %}bin/*.{bat,exe}{% endif %} || die
	rmdir logs || die
}

src_install() {
	keepdir /etc/${PN}
	keepdir /etc/${PN}/scripts

	insinto /etc/${PN}
	doins -r config/.
	rm -r config || die

	fowners root:${PN} /etc/${PN}
	fperms 2750 /etc/${PN}

	insinto /usr/share/${PN}
	doins -r .

	exeinto /usr/share/${PN}/bin
	doexe "${REPODIR}/www-apps/elastic/files/${PN}/elasticsearch-systemd-pre-exec"

	fperms -R +x /usr/share/${PN}/bin
	fperms -R +x /usr/share/${PN}/modules/x-pack-ml/platform/linux-x86_64/bin

	keepdir /var/{lib,log}/${PN}
	fowners ${PN}:${PN} /var/{lib,log}/${PN}
	fperms 0750 /var/{lib,log}/${PN}
	dodir /usr/share/${PN}/plugins

	insinto /etc/sysctl.d
	newins "${REPODIR}/www-apps/elastic/files/${PN}/${PN}.sysctl.d" ${PN}.conf

	newconfd "${REPODIR}/www-apps/elastic/files/${PN}/${PN}.conf.{% if major < 7 %}3{% else %}4{% endif %}" ${PN}
	newinitd "${REPODIR}/www-apps/elastic/files/${PN}/${PN}.init.{% if major < 7 %}6{% else %}8{% endif %}" ${PN}

	systemd_install_serviced "${REPODIR}/www-apps/elastic/files/${PN}/${PN}.service.conf"
	newtmpfiles "${REPODIR}/www-apps/elastic/files/${PN}/${PN}.tmpfiles.d" ${PN}.conf
	systemd_newunit "${REPODIR}/www-apps/elastic/files/${PN}"/${PN}.service.3 ${PN}.service
}

pkg_postinst() {
	tmpfiles_process /usr/lib/tmpfiles.d/${PN}.conf

	elog
	elog "You may create multiple instances of ${PN} by"
	elog "symlinking the init script:"
	elog "ln -sf /etc/init.d/${PN} /etc/init.d/${PN}.instance"
	elog
	elog "Please make sure you put elasticsearch.yml, log4j2.properties and scripts"
	elog "from /etc/${PN} into the configuration directory of the instance:"
	elog "/etc/${PN}/instance"
	elog
	ewarn "Please make sure you have proper permissions on /etc/${PN}"
	ewarn "prior to keystore generation or you may experience startup fails."
	ewarn "chown root:${PN} /etc/${PN} && chmod 2750 /etc/${PN}"
	ewarn "chown root:${PN} /etc/${PN}/${PN}.keystore && chmod 0660 /etc/${PN}/${PN}.keystore"
}
