# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit systemd user

MY_PN="${PN%-bin}"

DESCRIPTION="Analytics and search dashboard for Elasticsearch"
HOMEPAGE="https://www.elastic.co/products/kibana"
{%- if artifacts|length > 1 %}
SRC_URI="
	{%- for arch in artifacts %}
	{{ arch }}? ( {{ artifacts[arch].src_uri }} ){% endfor %}
{% else %}SRC_URI="{% for arch in artifacts %}{{ artifacts[arch].src_uri }}{% endfor %}{% endif %}"

# source: LICENSE.txt and NOTICE.txt
LICENSE="Apache-2.0 Artistic-2 BSD BSD-2 CC-BY-3.0 CC-BY-4.0 Elastic-2.0 icu ISC MIT MPL-2.0 OFL-1.1 openssl public-domain Unlicense WTFPL-2 ZLIB"
SLOT="0"
KEYWORDS="-*{% for arch in artifacts %} {{ arch }}{% endfor %}"

IUSE="systemd"

RDEPEND="
	>=net-libs/nodejs-{{ nodejs.minimum }}
	=net-libs/nodejs-{{ nodejs.series }}*
	dev-libs/nss
	{%- if nodejs.series <= 12 %}dev-libs/expat{% endif %}
"
{% if nodejs.series > 12 %}
# Do not complain about CFLAGS etc since we don't use them
QA_FLAGS_IGNORED='.*'
QA_PRESTRIPPED="
	opt/kibana/x-pack/plugins/reporting/chromium/headless_shell-linux_x64/headless_shell
	opt/kibana/x-pack/plugins/reporting/chromium/headless_shell-linux_x64/swiftshader/libEGL.so
	opt/kibana/x-pack/plugins/reporting/chromium/headless_shell-linux_x64/swiftshader/libGLESv2.so
	opt/kibana/node_modules/re2/build/Release/re2.node
"
{% endif %}

MY_FILESDIR="${REPODIR}/www-apps/elastic/files/${PN}"

pkg_setup() {
	enewuser kibana
	enewgroup kibana
}

post_src_unpack() {
	if [ ! -d "${S}" ]; then
		mv {{ github_repo }}-{{ version }} "${S}" || die
	fi
}

src_prepare() {
	default

	# remove unused directory
	rm -r data || die

	# remove bundled nodejs
	rm -r node || die
	{% if nodejs.series >= 14 %}sed -i 's@\(^NODE="\).*@\1/usr/bin/node"@g' \
		bin/kibana || die
	# move plugins to /var/lib/kibana
	rm -r plugins || die
	{% else %}
	# move optimize, plugins to /var/lib/kibana
	rm -r optimize plugins || die
	{% endif %}
}

src_install() {
	insinto /etc/${MY_PN}
	doins -r config/.
	rm -r config || die

	insinto /etc/logrotate.d
	newins "${MY_FILESDIR}"/${MY_PN}.logrotate ${MY_PN}

	newconfd "${MY_FILESDIR}"/${MY_PN}.confd ${MY_PN}
	newinitd "${MY_FILESDIR}"/${MY_PN}.initd{% if nodejs.series >= 14 %}-r1{% endif %} ${MY_PN}

	use systemd && systemd_dounit "${MY_FILESDIR}"/${MY_PN}.service

	insinto /opt/${MY_PN}
	doins -r .

	fperms -R +x /opt/${MY_PN}/bin

	diropts -m 0750 -o ${MY_PN} -g ${MY_PN}
	{% if nodejs.series <= 12 %}keepdir /var/lib/${MY_PN}/optimize{% endif %}
	keepdir /var/lib/${MY_PN}/plugins
	keepdir /var/log/${MY_PN}

	{% if nodejs.series <= 12 %}dosym ../../var/lib/kibana/optimize /opt/kibana/optimize{% endif %}
	dosym ../../var/lib/kibana/plugins /opt/kibana/plugins
}

pkg_postinst() {
{% if nodejs.series <= 12 %}
	ewarn "Kibana optimize/plugins directories were moved to /var/lib/kibana."
	ewarn "In case of startup failures (FATAL Error: Cannot find module...),"
	ewarn "please remove the optimize directory content:"
	ewarn "rm -r /var/lib/kibana/optimize/*"
{% endif %}
	elog "This version of Kibana is compatible with Elasticsearch $(ver_cut 1-2) and"
	elog "Node.js {{ nodejs.series }}. Some plugins may fail with other versions of Node.js"
	elog
	elog "To set a customized Elasticsearch instance:"
	use systemd || elog "  OpenRC: set ES_INSTANCE in /etc/conf.d/${MY_PN}"
	use systemd && elog "  systemd: set elasticsearch.url in /etc/${MY_PN}/kibana.yml"
	elog
	elog "Elasticsearch can run local or remote."
}
