[Desktop Entry]
Name=Nibbler
StartupWMClass=nibbler
Comment=Real-time chess analysis GUI
GenericName=Chess
Exec=/opt/nibbler/nibbler
Icon=nibbler
Type=Application
Categories=Game;BoardGame;
Path=/usr/bin
