# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit bash-completion-r1 desktop eutils pax-utils xdg

MY_INSTALL_DIR="/opt/${PN}"
MY_EXEC="{{channel}}"
MY_PN=${PN/-bin/}

DESCRIPTION="Multiplatform Visual Studio Code from Microsoft"
HOMEPAGE="https://code.visualstudio.com"
SRC_URI="{{src_uri}}"
RESTRICT="strip bindist"
LICENSE="
	Apache-2.0
	BSD
	BSD-1
	BSD-2
	BSD-4
	CC-BY-4.0
	ISC
	LGPL-2.1+
	Microsoft
	MIT
	MPL-2.0
	openssl
	PYTHON
	TextMate-bundle
	Unlicense
	UoI-NCSA
	W3C"
SLOT="0"
KEYWORDS="{{ '*' if unmasked else '' }}"
IUSE="libsecret hunspell zsh-completion"
DEPEND=""
RDEPEND="
	hunspell? ( app-text/hunspell )
	libsecret? ( app-crypt/libsecret[crypt] )
	app-accessibility/at-spi2-atk
	dev-libs/nss
	media-libs/alsa-lib
	media-libs/libpng:0/16
	x11-libs/cairo
	>=x11-libs/gtk+-3.0
	x11-libs/libnotify
	x11-libs/libxkbcommon
	x11-libs/libxkbfile
	x11-libs/libXScrnSaver
	x11-libs/libXtst
	x11-libs/pango
"

QA_PREBUILT="
	${MY_INSTALL_DIR}/vscode-bin
	${MY_INSTALL_DIR}/libEGL.so
	${MY_INSTALL_DIR}/libffmpeg.so
	${MY_INSTALL_DIR}/libGLESv2.so
	${MY_INSTALL_DIR}/libvulkan.so*
	${MY_INSTALL_DIR}/chrome-sandbox
	${MY_INSTALL_DIR}/libvk_swiftshader.so
	${MY_INSTALL_DIR}/swiftshader/libEGL.so
	${MY_INSTALL_DIR}/swiftshader/libGLESv2.so
	${MY_INSTALL_DIR}/resources/app/extensions/*
	${MY_INSTALL_DIR}/resources/app/node_modules.asar.unpacked/*
"

pkg_setup() {
	S="${WORKDIR}/{{ src_path_name }}"
}

src_prepare() {
	default

{% if channel != 'code' %}
	pushd resources/completions

	pushd bash
	mv "${MY_EXEC}" code || die "bash completion file not found"
	popd

	if use zsh-completion; then
		pushd zsh
		mv _"${MY_EXEC}" _code || die "zsh completion file not found"
		popd
	fi

	popd

	sed -i "s/${MY_EXEC}/code/g" resources/completions/bash/code || die "failed to replace in bash completion file"

	if use zsh-completion; then
		sed -i "s/${MY_EXEC}/code/g" resources/completions/zsh/_code || die "failed to replace in zsh completion file"
	fi
{% endif %}
}

src_install() {
	pax-mark m "${MY_INSTALL_DIR}/${MY_EXEC}"
	insinto "${MY_INSTALL_DIR}"
	doins -r *
	dosym "${MY_INSTALL_DIR}/${MY_EXEC}" "/usr/bin/${PN}"
	make_wrapper "${PN}" "${MY_INSTALL_DIR}/${MY_EXEC}"
	domenu ${FILESDIR}/${PN}.desktop
	newicon ${S}/resources/app/resources/linux/code.png ${PN}.png

	dosym "${MY_INSTALL_DIR}"/bin/"${MY_EXEC}" "/usr/bin/code"

	fperms +x "${MY_INSTALL_DIR}/${MY_EXEC}"
	fperms +x "${MY_INSTALL_DIR}/bin/${MY_EXEC}"

	fperms 4755 "${MY_INSTALL_DIR}/chrome-sandbox"

	if [ -e "${ED}"/"${MY_INSTALL_DIR}"/chrome_crashpad_handler ]; then
		fperms 4755 "${MY_INSTALL_DIR}"/chrome_crashpad_handler
	fi

	{% for sh_path in fperms_paths|sort -%}
	fperms +x "${MY_INSTALL_DIR}/{{ sh_path }}"
	{% endfor -%}
	insinto "/usr/share/licenses/${PN}"
	newins "resources/app/LICENSE.rtf" "LICENSE.rtf"

	newbashcomp resources/completions/bash/code code

	if use zsh-completion; then
		insinto /usr/share/zsh/site-functions
		doins "${S}"/resources/completions/zsh/_code
	fi
}

pkg_postinst() {
	xdg_desktop_database_update
	elog "You may install some additional utils, so check them in:"
	elog "https://code.visualstudio.com/Docs/setup#_additional-tools"
}

pkg_postrm() {
	xdg_desktop_database_update
}
