# Distributed under the terms of the GNU General Public License v2

EAPI=7
inherit toolchain-funcs eutils

DESCRIPTION="{{ desc }}"
HOMEPAGE="{{ homepage }}"
SRC_URI="{{ src_uri }}"

LICENSE="GPL-2+ LGPL-2+ HPND"
SLOT="0"
KEYWORDS="*"
IUSE="doc"

RDEPEND=""
DEPEND="doc? ( app-text/asciidoc )"

S="${WORKDIR}/{{ github_user }}-{{ github_repo }}-{{ sha[:7] }}"


src_prepare() {
	./bootstrap
	default
}

src_install() {
	dobin src/deutex
	use doc && doman man/deutex.6
	dodoc AUTHORS COPYING COPYING.LIB LICENSE NEWS.adoc README.adoc
}

# vim: ts=4 noet syn=ebuild
