# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qmake-utils

DESCRIPTION="{{ desc }}"
HOMEPAGE="{{ homepage }}"
SRC_URI="{{ src_uri }}"

LICENSE="GPL-3"
SLOT="0"
KEYWORDS="*"
IUSE=""

DEPEND="
	dev-qt/qtcore:5
	dev-qt/qtgui:5
	dev-qt/qtwidgets:5
	dev-qt/qtnetwork:5"
RDEPEND="${DEPEND}"
BDEPEND="dev-util/cmake"

S="${WORKDIR}/{{ github_user }}-{{ github_repo }}-{{ sha[:7] }}"


src_prepare() {
	default
	eapply_user
}

src_configure() {
	eqmake5 DoomRunner.pro -spec linux-g++ CONFIG+="release"  PREFIX="/usr"
}

src_install() {
	emake INSTALL_ROOT="${D}" install
}

# vim: ts=4 noet syn=ebuild
