# Distributed under the terms of the GNU General Public License v2

EAPI=7

DESCRIPTION="{{ desc }}"
HOMEPAGE="{{ homepage }}"
SRC_URI="{{ src_uri }}"

LICENSE="freedist"
SLOT="0"
KEYWORDS="*"

S="${DISTDIR}"

DOOMWADPATH="/usr/share/doom"

src_install() {
	insinto ${DOOMWADPATH}
	doins ${WORKDIR}/*.{wad,txt}
}

pkg_postinst() {
	elog "Doom WAD file installed into the ${DOOMWADPATH} directory."
	elog "A Doom engine is required in order to play the {{ wad }} file."
}
