# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit libtool

DESCRIPTION="{{ desc }}"
HOMEPAGE="{{ homepage }}"
SRC_URI="{{ artifacts[0].src_uri }}"

LICENSE="GPL-3 LGPL-2.1"
SLOT="{{slot|default('0')}}"
KEYWORDS="*"

# Note: On each bump, update dep bounds on each version from configure.ac!
RDEPEND="dev-libs/libgpg-error"
DEPEND="${RDEPEND}"

{%- if patches %}
PATCHES=(
{%- for patch in patches %}
	"${FILESDIR}"/"${PN}-{{ patch }}"
{%- endfor %}
)
{%- endif %}

src_configure() {
	local myeconfargs=(
		--disable-static
		GPG_ERROR_CONFIG="${EROOT}/usr/bin/gpg-error-config"
		$("${S}/configure" --help | grep -o -- '--without-.*-prefix')
	)
	econf "${myeconfargs[@]}"
}

src_install() {
	default
	# ppl need to use libassuan-config for --cflags and --libs
	find "${ED}" -type f -name '*.la' -delete || die
}
