# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit toolchain-funcs

DESCRIPTION="{{ desc }}"
HOMEPAGE="{{ homepage }}"
SRC_URI="{{ artifacts[0].src_uri }}"

LICENSE="LGPL-3+ GPL-2+ GPL-3"
SLOT="{{slot|default('0')}}"
KEYWORDS="*"
IUSE="static-libs"

RDEPEND=">=dev-libs/libgpg-error-1.8"
DEPEND="${RDEPEND}"
BDEPEND="
	sys-devel/bison
"

{%- if patches %}
PATCHES=(
{%- for patch in patches %}
	"${FILESDIR}"/"${PN}-{{ patch }}"
{%- endfor %}
)
{%- endif %}

src_configure() {
	export CC_FOR_BUILD="$(tc-getBUILD_CC)"

	local myeconfargs=(
		$(use_enable static-libs static)

		GPG_ERROR_CONFIG="${EROOT}/usr/bin/gpg-error-config"
		LIBGCRYPT_CONFIG="${EROOT}/usr/bin/libgcrypt-config"
	)

	econf "${myeconfargs[@]}"
}

src_install() {
	default

	# People need to use ksba-config for --cflags and --libs
	find "${ED}" -type f -name '*.la' -delete || die
}
