# Distributed under the terms of the GNU General Public License v2

EAPI=7

DESCRIPTION="{{ desc }}"
HOMEPAGE="{{ homepage }}"
SRC_URI="{% for artifact in artifacts %}{{ artifact.src_uri }} {% endfor %}"

LICENSE="GPL-2"
SLOT="{{slot|default('0')}}"
KEYWORDS="*"

# configure script try to check the version of gpgsm and gpg-agent when
# non-crosscompiling so we need to have them as build-time dependency as
# well as runtime.  Require a version of gnupg that is patched to have
# gpgsm-gencert.sh working (as that's what the documentation describe).
BDEPEND="
	app-crypt/pinentry
	app-crypt/gnupg[smartcard]"
DEPEND="
	dev-libs/libgpg-error
	dev-libs/libassuan"
RDEPEND="
	${DEPEND}
	${BDEPEND}"
BDEPEND+="
	sys-apps/texinfo"

{%- if patches %}
PATCHES=(
{%- for patch in patches %}
	"${FILESDIR}"/"${PN}-{{ patch }}"
{%- endfor %}
)
{%- endif %}
#PATCHES=( "${FILESDIR}"/${P}-fno-common.patch )

src_unpack() {
	default

	# have to use pregenerated EPS files required for the texinfo documentation,
	# due to bug 664236 preventing even converting *to* eps.
	mv scute-eps/*.eps "${S}"/doc/ || die
}

src_configure() {
	econf \
		--libdir="${EPREFIX}"/usr/$(get_libdir)/pkcs11
}

src_install() {
	default

	# only building plugins
	find "${ED}" -name '*.la' -delete || die
}
