# Distributed under the terms of the GNU General Public License v2

EAPI=7

USE_RUBY="{{ use_ruby }}"

RUBY_FAKEGEM_EXTRADOC="FAQ.txt History.txt README.md"

inherit ruby-fakegem

DESCRIPTION="A commandline option parser for Ruby that just gets out of your way"
HOMEPAGE="{{ homepage }}"

KEYWORDS="*"
LICENSE="MIT"
SLOT="3"
IUSE=""

all_ruby_prepare() {
	sed -i -e '/bundle/ s:^:#:' Rakefile || die
}
