# Distributed under the terms of the GNU General Public License v2

EAPI=7

USE_RUBY="{{ use_ruby }}"
RUBY_FAKEGEM_BINWRAP=""
RUBY_FAKEGEM_EXTRADOC="README.md doc/reline/face.md"
RUBY_FAKEGEM_GEMSPEC="${PN}.gemspec"

inherit ruby-fakegem

DESCRIPTION="{{ description }}, GNU Readline and Editline by pure Ruby implementation."
HOMEPAGE="{{ homepage }}"
SRC_URI="{{ artifacts[0].src_uri }}"

LICENSE="BSD-3"
KEYWORDS="*"
SLOT="0"
IUSE="test"

ruby_add_bdepend "test? ( dev-ruby/test-unit )"
ruby_add_rdepend "dev-ruby/io-console"

post_src_unpack() {
	if [ ! -d "${S}/all/${P}" ] ; then
	        mv "${WORKDIR}"/all/{{ github_user }}-{{ github_repo }}-* "${S}"/all/"${P}" || die
	fi
}

all_ruby_prepare() {
	sed -e "s:_relative ':'./:" \
		-i ${RUBY_FAKEGEM_GEMSPEC} || die
}

each_ruby_test() {
	${RUBY} -Ilib:.:test/reline -rhelper -e 'Dir["test/**/test_*.rb"].each{|f| require f}' || die
}
