# Distributed under the terms of the GNU General Public License v2

EAPI=7

PHP_EXT_NAME="xdiff"
PHP_EXT_PECL_PKG="xdiff"
DOCS=( README.API )

USE_PHP="php7-4 php8-0"
PHP_EXT_PECL_FILENAME="${PN/pecl-/}-2.0.1.tgz"

inherit php-ext-pecl-r3

SRC_URI="{{artifacts[0].src_uri}}"

KEYWORDS="*"

DESCRIPTION="PHP extension for generating diff files"
LICENSE="PHP-3.01"
SLOT="7"

DEPEND="dev-libs/libxdiff"
RDEPEND="${DEPEND}"
PHP_EXT_ECONF_ARGS=()

S="${WORKDIR}/${PHP_EXT_PECL_FILENAME/.tgz/}"
PHP_EXT_S="${S}"

post_src_unpack() {
	if [ ! -d "${S}" ] ; then
		mv ${WORKDIR}/{{github_user}}-* ${S} || die
	fi
}
