# Distributed under the terms of the GNU General Public License v2

EAPI=7

DESCRIPTION="{{ description }}"
HOMEPAGE="https://github.com/kovidgoyal/kitty"
SRC_URI="{{artifacts[0].src_uri}}"
S="${WORKDIR}/kitty-${PV}"

LICENSE="GPL-3"
SLOT="0"
KEYWORDS="next"
IUSE=""

BDEPEND="sys-libs/ncurses"
RDEPEND="!<=x11-terms/kitty-0.25.0"

PATCHES=(
	{%- for patch in patches %}
		{{gen_path}}/files/{{patch}}
	{%- endfor %}
)

RESTRICT="test" # intended to be ran on the full kitty package

src_compile() { :; }

src_install() {
	dodir /usr/share/terminfo
	tic -xo "${ED}"/usr/share/terminfo terminfo/kitty.terminfo || die
}
