# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit meson flag-o-matic toolchain-funcs

DESCRIPTION="bind tools: dig, nslookup, host, nsupdate, dnssec-keygen"
HOMEPAGE="https://www.isc.org/software/bind"
SRC_URI="{{.Values.src_uri}}"

LICENSE="Apache-2.0 BSD BSD-2 GPL-2 HPND ISC MPL-2.0"
SLOT="0"
KEYWORDS="*"
IUSE="gssapi idn ipv6 libedit readline xml"
# no PKCS11 currently as it requires OpenSSL to be patched, also see bug 409687

COMMON_DEPEND="
	dev-libs/libuv:=
	dev-libs/openssl
	dev-libs/userspace-rcu
	sys-libs/libcap
	dev-db/lmdb
	xml? ( dev-libs/libxml2 )
	idn? ( net-dns/libidn2:= )
	gssapi? ( virtual/krb5 )
	libedit? ( dev-libs/libedit )
	!libedit? (
		readline? ( sys-libs/readline:= )
	)
"
DEPEND="${COMMON_DEPEND}"
RDEPEND="${COMMON_DEPEND}
	!<=net-dns/bind-9.18.1-r2
"
{{- if .Values.s | default false }}
S="{{ .Values.s }}"
{{- end }}

# sphinx required for man-page and html creation
BDEPEND="
	virtual/pkgconfig
"

src_configure() {
	local emesonargs=(
		--sysconfdir=/etc/bind
		--localstatedir=/var
		-Ddoc=disabled
		-Dzlib=disabled
		-Dstats-json=disabled
		-Dstats-xml=disabled
		$(meson_feature gssapi)
		$(meson_feature idn)
	)
	meson_src_configure
}

src_install() {
	meson_src_install

	rm -r "${D}"/usr/bin/{arpaname,named*,nsec3hash} || die
	rm -r "${D}"/usr/sbin || die
}

# vim: filetype=ebuild
