# Distributed under the terms of the GNU General Public License v2

EAPI=7
inherit font

DESCRIPTION="{{desc}}"
HOMEPAGE="{{homepage}}"
SRC_URI="{{src_uri}}"
LICENSE="{{license}}"

SLOT="0"
KEYWORDS="*"
IUSE="cjk"

RDEPEND="media-libs/fontconfig
	cjk? ( media-fonts/source-han-sans )"

S="${WORKDIR}/{{github_user}}-{{github_repo}}-{{sha[:7]}}"

FONT_CONF=( "${FILESDIR}"/63-${PN}.conf )
RESTRICT="binchecks strip"

src_prepare() {
	default
}

src_install() {
    FONT_S=( "${S}"/OTF "${S}"/VAR )
    FONT_SUFFIX="otf"
    font_src_install

    FONT_S=( "${S}"/TTF "${S}"/VAR )
    FONT_SUFFIX="ttf"
    font_src_install

    FONT_S=( "${S}"/WOFF/OTF "${S}"/WOFF/TTF "${S}"/WOFF/VAR )
    FONT_SUFFIX="woff"
    font_src_install

    FONT_S=( "${S}"/WOFF2/OTF "${S}"/WOFF2/TTF "${S}"/WOFF2/VAR )
    FONT_SUFFIX="woff2"
    font_src_install

    dodoc README.md
}
