# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit autotools

DESCRIPTION="Default MyPaint brushes"
HOMEPAGE="https://github.com/mypaint/mypaint-brushes"
SRC_URI="{{artifacts[0].src_uri}}"

LICENSE="CC0-1.0"

SLOT="{{slot}}" # This tracks major version
KEYWORDS="*"

{%- if slot == "1" %}
RDEPEND="!media-gfx/mypaint-brushes:1.0"
{%- endif %}

# Chosen to exclude README symlink
DOCS=( AUTHORS NEWS README.md )

post_src_unpack() {
	mv "${WORKDIR}/"{{github_user}}-{{github_repo}}* "${S}" || die
}

src_prepare() {
	default
	eautoreconf
}
