# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit desktop qt5-build xdg-utils

DESCRIPTION="Tool for viewing on-line documentation in Qt help file format"
SRC_URI="{{.Values.src_uri}}"
SLOT=5

KEYWORDS="*"

IUSE=""

DEPEND="
	=dev-qt/qtcore-{{ .Values.version}}*:5=
	=dev-qt/qtgui-{{ .Values.version}}*[png]
	=dev-qt/qthelp-{{ .Values.version}}*
	=dev-qt/qtnetwork-{{ .Values.version}}*
	=dev-qt/qtprintsupport-{{ .Values.version}}*
	=dev-qt/qtsql-{{ .Values.version}}*[sqlite]
	=dev-qt/qtwidgets-{{ .Values.version}}*
"
RDEPEND="${DEPEND}"

QT5_TARGET_SUBDIRS=(
	src/assistant/assistant
)

src_prepare() {
	sed -e "s/qtHaveModule(webkitwidgets)/false/g" \
		-i src/assistant/assistant/assistant.pro || die

	qt5-build_src_prepare
}

src_install() {
	qt5-build_src_install

	doicon -s 32 src/assistant/assistant/images/assistant.png
	newicon -s 128 src/assistant/assistant/images/assistant-128.png assistant.png
	make_desktop_entry "${QT5_BINDIR}"/assistant 'Qt 5 Assistant' assistant 'Qt;Development;Documentation'
}

pkg_postinst() {
	qt5-build_pkg_postinst
	xdg_icon_cache_update
}

pkg_postrm() {
	qt5-build_pkg_postrm
	xdg_icon_cache_update
}
