# Distributed under the terms of the GNU General Public License v2

EAPI=7

QT5_MODULE="qttools"
inherit desktop qt5-build xdg-utils

DESCRIPTION="WYSIWYG tool for designing and building graphical user interfaces with QtWidgets"
SRC_URI="{{.Values.src_uri}}"
SLOT=5

KEYWORDS="*"

IUSE="declarative"

DEPEND="
	=dev-qt/qtcore-{{ .Values.version}}*:5=
	=dev-qt/qtgui-{{ .Values.version}}*:5=[png]
	=dev-qt/qtnetwork-{{ .Values.version}}*
	=dev-qt/qtprintsupport-{{ .Values.version}}*
	=dev-qt/qtwidgets-{{ .Values.version}}*
	=dev-qt/qtxml-{{ .Values.version}}*
	declarative? ( =dev-qt/qtdeclarative-{{ .Values.version}}*[widgets] )
"
RDEPEND="${DEPEND}"

S=${WORKDIR}/qttools-everywhere-src-{{ .Values.version}}

QT5_TARGET_SUBDIRS=(
	src/designer
)

src_prepare() {
	qt_use_disable_mod declarative quickwidgets \
		src/designer/src/plugins/plugins.pro

	sed -e "s/qtHaveModule(webkitwidgets)/false/g" \
		-i src/designer/src/plugins/plugins.pro || die

	qt5-build_src_prepare
}

src_install() {
	qt5-build_src_install

	doicon -s 128 src/designer/src/designer/images/designer.png
	make_desktop_entry "${QT5_BINDIR}"/designer 'Qt 5 Designer' designer 'Qt;Development;GUIDesigner'
}

pkg_postinst() {
	qt5-build_pkg_postinst
	xdg_icon_cache_update
}

pkg_postrm() {
	qt5-build_pkg_postrm
	xdg_icon_cache_update
}
