# Distributed under the terms of the GNU General Public License v2

EAPI=7

QT5_MODULE="qttools"
inherit qt5-build

DESCRIPTION="Tools for working with Qt translation data files"
SRC_URI="{{.Values.src_uri}}"
SLOT=5

KEYWORDS="*"

IUSE="qml"

DEPEND="
	=dev-qt/qtcore-{{ .Values.version}}*:5=
	=dev-qt/qtxml-{{ .Values.version}}*
	qml? ( =dev-qt/qtdeclarative-{{ .Values.version}}* )
"
RDEPEND="${DEPEND}"

S=${WORKDIR}/qttools-everywhere-src-{{ .Values.version}}

QT5_TARGET_SUBDIRS=(
	src/linguist
)

src_prepare() {
	sed -i -e '/SUBDIRS += linguist/d' \
		src/linguist/linguist.pro || die

	qt_use_disable_mod qml qmldevtools-private \
		src/linguist/lupdate/lupdate.pro

	qt5-build_src_prepare
}
