# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit desktop qt5-build xdg-utils

DESCRIPTION="Graphical tool for translating Qt applications"
SRC_URI="{{.Values.src_uri}}"
SLOT=5

KEYWORDS="*"

IUSE=""

DEPEND="
	=dev-qt/designer-{{ .Values.version}}*
	=dev-qt/qtcore-{{ .Values.version}}*:5=
	=dev-qt/qtgui-{{ .Values.version}}*:5=[png]
	=dev-qt/qtprintsupport-{{ .Values.version}}*
	=dev-qt/qtwidgets-{{ .Values.version}}*
	=dev-qt/qtxml-{{ .Values.version}}*
"
RDEPEND="${DEPEND}"

QT5_TARGET_SUBDIRS=(
	src/linguist/linguist
)

src_install() {
	qt5-build_src_install

	local size
	for size in 16 32 48 64 128; do
		newicon -s ${size} src/linguist/linguist/images/icons/linguist-${size}-32.png linguist.png
	done
	make_desktop_entry "${QT5_BINDIR}"/linguist 'Qt 5 Linguist' linguist 'Qt;Development;Translation'
}

pkg_postinst() {
	qt5-build_pkg_postinst
	xdg_icon_cache_update
}

pkg_postrm() {
	qt5-build_pkg_postrm
	xdg_icon_cache_update
}
