# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt5-build

DESCRIPTION="3D rendering module for the Qt5 framework"
SRC_URI="{{.Values.src_uri}}"
SLOT=5

KEYWORDS="*"

# TODO: tools
IUSE="gamepad gles2-only qml vulkan"

RDEPEND="
	=dev-qt/qtconcurrent-{{ .Values.version}}*
	=dev-qt/qtcore-{{ .Values.version}}*
	=dev-qt/qtgui-{{ .Values.version}}*:5=[vulkan=]
	=dev-qt/qtnetwork-{{ .Values.version}}*
	>=media-libs/assimp-4.0.0
	gamepad? ( =dev-qt/qtgamepad-{{ .Values.version}}* )
	qml? ( =dev-qt/qtdeclarative-{{ .Values.version}}*[gles2-only=] )
"
DEPEND="${RDEPEND}
	vulkan? ( dev-util/vulkan-headers )
"

src_configure() {
	local myqmakeargs=(
		--
		-system-assimp
	)
	qt5-build_src_configure
}

src_prepare() {
	rm -r src/3rdparty/assimp/{code,contrib,include} || die

	qt_use_disable_mod gamepad gamepad src/input/frontend/frontend.pri
	qt_use_disable_mod qml quick src/src.pro

	qt5-build_src_prepare
}
