# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit linux-info qt6-build

DESCRIPTION="Qt module containing the unsupported Qt 5 APIs"
SRC_URI="{{.Values.src_uri}}"
SLOT=6

KEYWORDS="*"
IUSE="qml"

DEPEND="
	dev-libs/icu:=
	~dev-qt/qtbase-${PV}:6[gui]
	qml? (
		~dev-qt/qtdeclarative-${PV}:6
		~dev-qt/qtshadertools-${PV}:6
	)
"
RDEPEND="${DEPEND}"

src_configure() {
	local mycmakeargs=(
		$(cmake_use_find_package qml Qt6Quick)
	)

	qt6-build_src_configure
}
