# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt5-build

DESCRIPTION="3D data visualization library for the Qt5 framework"
SRC_URI="{{.Values.src_uri}}"
SLOT=5
LICENSE="GPL-3"

KEYWORDS="*"

IUSE="gles2-only qml"

DEPEND="
	=dev-qt/qtcore-{{ .Values.version}}*
	=dev-qt/qtgui-{{ .Values.version}}*[gles2-only=]
	qml? ( =dev-qt/qtdeclarative-{{ .Values.version}}*[gles2-only=] )
"
RDEPEND="${DEPEND}"

src_prepare() {
	# eliminate bogus dependency on qtwidgets
	sed -i -e '/requires.*widgets/d' qtdatavis3d.pro || die

	qt_use_disable_mod qml quick \
		src/src.pro

	qt5-build_src_prepare
}
