# Distributed under the terms of the GNU General Public License v2

EAPI=7

QT5_MODULE="qttools"
inherit qt5-build

DESCRIPTION="Qt5 module for integrating online documentation into applications"
SRC_URI="{{.Values.src_uri}}"
SLOT=5

KEYWORDS="*"

IUSE=""

DEPEND="
	=dev-qt/qtcore-{{ .Values.version}}*:5=
	=dev-qt/qtgui-{{ .Values.version}}*
	=dev-qt/qtnetwork-{{ .Values.version}}*
	=dev-qt/qtsql-{{ .Values.version}}*[sqlite]
	=dev-qt/qtwidgets-{{ .Values.version}}*
"
RDEPEND="${DEPEND}"

S=${WORKDIR}/qttools-everywhere-src-{{ .Values.version}}

QT5_TARGET_SUBDIRS=(
	src/assistant/help
	src/assistant/qcollectiongenerator
	src/assistant/qhelpgenerator
)
