# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt6-build

DESCRIPTION="Implementation of the Language Server Protocol for Qt"
SRC_URI="{{.Values.src_uri}}"
SLOT=6

KEYWORDS="*"
IUSE=""

DEPEND="
	~dev-qt/qtbase-${PV}:6
"
RDEPEND="${DEPEND}"
