# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt5-build

DESCRIPTION="Network authorization library for the Qt5 framework"
SRC_URI="{{.Values.src_uri}}"
SLOT=5
LICENSE="GPL-3"

KEYWORDS="*"

IUSE=""

DEPEND="
	=dev-qt/qtcore-{{ .Values.version}}*
	=dev-qt/qtnetwork-{{ .Values.version}}*
"
RDEPEND="${DEPEND}"
