# Distributed under the terms of the GNU General Public License v2

EAPI=7

QT5_MODULE="qtbase"
VIRTUALX_REQUIRED="test"
inherit qt5-build

DESCRIPTION="OpenGL support library for the Qt5 framework (deprecated)"
SRC_URI="{{.Values.src_uri}}"
SLOT=5

KEYWORDS="*"

IUSE="gles2-only"

DEPEND="
	=dev-qt/qtcore-{{ .Values.version}}*:5=
	=dev-qt/qtgui-{{ .Values.version}}*[gles2-only=]
	=dev-qt/qtwidgets-{{ .Values.version}}*[gles2-only=]
"
RDEPEND="${DEPEND}"

S=${WORKDIR}/qtbase-everywhere-src-{{ .Values.version}}

QT5_TARGET_SUBDIRS=(
	src/opengl
)

src_configure() {
	local myconf=(
		-opengl $(usex gles2-only es2 desktop)
	)
	qt5-build_src_configure
}
