# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt6-build

DESCRIPTION="Qt Quick 3D provides a high-level API for creating 3D content and 3D user interfaces based on Qt Quick"
SRC_URI="{{.Values.src_uri}}"
SLOT=6

KEYWORDS="*"
IUSE=""

RDEPEND="
	=dev-qt/qtbase-${PV}:6
	=dev-qt/qtdeclarative-${PV}:6
	=dev-qt/qtquicktimeline-${PV}:6
	=dev-qt/qtshadertools-${PV}:6
	>=media-libs/assimp-5.1.6
	sys-libs/zlib
"
DEPEND="${RDEPEND}"

src_configure() {
	local mycmakeargs=(
		-DINPUT_openxr=no
		-DQT_FEATURE_quick3dxr_openxr=OFF
		-DQT_FEATURE_system_assimp=ON
		-DQT_FEATURE_system_openxr=ON
	)

	qt6-build_src_configure
}
