# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt5-build

DESCRIPTION="Qt module for keyframe-based timeline construction"
SRC_URI="{{.Values.src_uri}}"
SLOT=5

KEYWORDS="*"

DEPEND="
	=dev-qt/qtcore-{{ .Values.version}}*
	=dev-qt/qtdeclarative-{{ .Values.version}}*
"
RDEPEND="${DEPEND}"
