# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt6-build

DESCRIPTION="Qt Tools Collection"
SRC_URI="{{.Values.src_uri}}"
SLOT=6

KEYWORDS="*"
IUSE="+assistant designer distancefieldgenerator +gui +linguist"

RDEPEND="
	~dev-qt/qtbase-${PV}:6
	assistant? ( ~dev-qt/qtbase-${PV}:6[sql,sqlite] )
	designer? (
		~dev-qt/qtbase-${PV}:6[zstd]
		app-arch/zstd:=
	)
"
DEPEND="${RDEPEND}"

src_configure() {
	local mycmakeargs=(
		$(qt_feature assistant)
		$(qt_feature designer)
		$(qt_feature distancefieldgenerator)
		$(qt_feature linguist)

		# TODO?: package litehtml, but support for latest releases seem
		# to lag behind and bundled may work out better for now
		# https://github.com/litehtml/litehtml/issues/266
		$(usev assistant -DCMAKE_DISABLE_FIND_PACKAGE_litehtml=ON)
	)

	qt6-build_src_configure
}
