# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt5-build

DESCRIPTION="Translation files for the Qt5 framework"
SRC_URI="{{.Values.src_uri}}"
SLOT=5

KEYWORDS="*"

IUSE=""

DEPEND="=dev-qt/qtcore-{{ .Values.version}}*"
BDEPEND="=dev-qt/linguist-tools-{{ .Values.version}}*"
