# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt5-build

DESCRIPTION="Wayland platform plugin for Qt"
SRC_URI="{{.Values.src_uri}}"
SLOT=5/{{ .Values.version}} # bug 815646

KEYWORDS="*"

IUSE="vulkan"

DEPEND="
	dev-libs/wayland
	=dev-qt/qtcore-{{ .Values.version}}*:5=
	=dev-qt/qtdeclarative-{{ .Values.version}}*:5=
	=dev-qt/qtgui-{{ .Values.version}}*:5=[egl,libinput,vulkan=]
	media-libs/libglvnd
	>=x11-libs/libxkbcommon-0.2.0
	vulkan? ( dev-util/vulkan-headers )
"
RDEPEND="${DEPEND}"

src_configure() {
	local myqmakeargs=(
		--
		$(qt_use vulkan feature-wayland-vulkan-server-buffer)
	)
	qt5-build_src_configure
}
