# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt6-build

DESCRIPTION="Wayland platform plugin for Qt"
SRC_URI="{{.Values.src_uri}}"
SLOT=6

KEYWORDS="*"
IUSE="qml vulkan"

DEPEND="
	dev-libs/wayland
	~dev-qt/qtbase-${PV}:6[gui,vulkan=,wayland]
	~dev-qt/qtsvg-${PV}:6
	dev-util/wayland-scanner
	media-libs/libglvnd
	x11-libs/libxkbcommon
	qml? ( ~dev-qt/qtdeclarative-${PV}:6 )
	vulkan? ( dev-util/vulkan-headers )
"
RDEPEND="${DEPEND}"

src_configure() {
	local mycmakeargs=(
		$(cmake_use_find_package qml Qt6Quick)
	)

	qt6-build_src_configure
}

src_test() {
	# users' session setting may break tst_clientextension (bug #927030)
	unset DESKTOP_SESSION XDG_CURRENT_DESKTOP
	unset GNOME_DESKTOP_SESSION_ID KDE_FULL_SESSION

	qt6-build_src_test
}
