# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt6-build

DESCRIPTION="Implementation of the WebSocket protocol for the Qt6 framework"
SRC_URI="{{.Values.src_uri}}"
SLOT=6

KEYWORDS="*"
IUSE="qml +ssl"

DEPEND="
	~dev-qt/qtbase-${PV}:6
	qml? ( ~dev-qt/qtdeclarative-${PV}:6 )
"
RDEPEND="${DEPEND}"

src_configure() {
	local mycmakeargs=(
		$(cmake_use_find_package qml Qt6Quick)
	)

	qt6-build_src_configure
}
