# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt6-build

DESCRIPTION="Module for displaying web content in a QML application using the Qt framework"
SRC_URI="{{.Values.src_uri}}"
SLOT=6

KEYWORDS="*"
IUSE=""

DEPEND="
	=dev-qt/qtbase-${PV}:6[gui]
	=dev-qt/qtdeclarative-${PV}:6
	=dev-qt/qtwebengine-${PV}:6
"
RDEPEND="${DEPEND}"
