# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit qt5-build

DESCRIPTION="Linux/X11-specific support library for the Qt5 framework"
SRC_URI="{{.Values.src_uri}}"
SLOT=5

KEYWORDS="*"

IUSE=""

RDEPEND="
	=dev-qt/qtcore-{{ .Values.version}}*
	=dev-qt/qtgui-{{ .Values.version}}*[X]
"
DEPEND="${RDEPEND}
	test? ( =dev-qt/qtwidgets-{{ .Values.version}}* )
"
