# Distributed under the terms of the GNU General Public License v2

EAPI=7

QT5_MODULE="qtbase"
inherit qt5-build

DESCRIPTION="Implementation of SAX and DOM for the Qt5 framework"
SRC_URI="{{.Values.src_uri}}"
SLOT=5

KEYWORDS="*"

IUSE=""

RDEPEND="
	=dev-qt/qtcore-{{ .Values.version}}*:5=
"
DEPEND="${RDEPEND}
	test? ( =dev-qt/qtnetwork-{{ .Values.version}}* )
"

S=${WORKDIR}/qtbase-everywhere-src-{{ .Values.version}}

QT5_TARGET_SUBDIRS=(
	src/xml
)

QT5_GENTOO_PRIVATE_CONFIG=(
	:xml
)
